
#loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


#loader-wrapper .loader-section {
  position: absolute;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#preload-text {
  font-family: Lato;
  font-size: 16px;
  color: grey;
  letter-spacing: 5px;
  z-index: 10000;
  margin: 20px;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded .loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

.loaded .loader {
    opacity: 0;
    -webkit-transition: all 0.6s ease-out; 
            transition: all 0.6s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.6s 0.6s ease-out; 
            transition: all 0.6s 0.6s ease-out;
}

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.6s 1.2s ease-out; 
                transition: all 0.6s 1.2s ease-out;
}

/*=============================== Loading animation =================================*/

.loading {
  width: 200px;
  height: 200px;
}

.circle {
  border-radius: 100%;
  border-top: 5px solid rgb(69, 205, 237);
  margin: auto;
  transform-origin: 50%;
  position: relative;
  z-index: 10000;
}

.s_3 {
  width: 200px;
  height: 200px;
  animation: rot_right 2s infinite linear;
  -webkit-animation: rot_right 2s infinite linear;
  transition:2s;
  -webkit-transition:2s;
}

.s_2 {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  animation: rot_left 2s infinite linear;
  -webkit-animation: rot_left 2s infinite linear;
  transition:2s;
  -webkit-transition:2s;
  margin-top:-190px;
}

.s_1 {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  animation: rot_right 2s infinite linear;
  -webkit-animation: rot_right 2s infinite linear;
  transition:2s;
  -webkit-transition:2s;
  margin-top:-140px;
}


@keyframes rot_right{
  from{transform:rotate(0deg)}
  to{transform:rotate(360deg)}
  }@-webkit-keyframes rot_right{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
    }@keyframes rot_left{
      from{transform:rotate(360deg)}
      to{transform:rotate(0deg)}
      }@-webkit-keyframes rot_left{
       from{transform:rotate(360deg)}
       to{transform:rotate(0deg)}
     }
     .s_title {
      border: 0;
      color: white;
      font-family: arial;
      text-align: center;
      margin-top: -60px;
      animation: blink 2s infinite linear;
      -webkit-animation: blink 2s infinite linear;
      transition:2s;
      -webkit-transition:2s;
      letter-spacing: 1px;
    }
    @keyframes blink{
      0%{opacity:1}
      50%{opacity:0.5}
      100%{opacity:1}
      }@-webkit-keyframes blink{
        0%{opacity:1}
        50%{opacity:0.5}
        100%{opacity:1}
      }