@import 'preload.css';
@import 'nav-icon.css';

/*===================================== General CSS ==================================== */

body  {
  width: 100%;
  height: 100%;
}

.clearfix {
  clear: both;
  float:left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#all {display: none;}

.displayON {visibility: visible;}
.displayOFF {visibility: hidden;}

.displayBlockON {display: block;}
.displayBlockOFF {display: none;}

.flex-center-wrapper  {
  display: flex;
  display: -webkit-flex;
  align-content: center;
  -webkit-alight-content: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.unselected {
  color: rgb(180,180,180);
}

h1,
h2,
h3 {
  font-family: Lato;
  color: rgb(120,120,120);
  font-weight: 300;
  letter-spacing:2px;
  text-align: center;
  line-height: 1.4;
}

h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}

p,
a,
strong {
  font-family: Lato;
  color: rgb(160,160,160);
  font-weight: 300;
  letter-spacing: 0.8px;
  font-size: 18px;
  line-height: 1.5;
}

a, a:hover, a:focus {
  text-decoration: none;
}

.center-text {
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  text-align: center;
  margin-top:0;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0 20px;
}

.fa-bars {
  font-size: 48px;
  color:rgba(50, 199, 255, 1);
  position:absolute;
  top:70px;
  left:15%;
}

.background-fixed {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
}

hr {
 color: rgba(50, 199, 255, 1);
 border:1px;
 border-style: solid none none none;
}

/*countering bootstrap effect*/
.row {margin-right: 0; margin-left: 0;}


/* This is for the 'load more' button of the instagram plugin*/
.btn {display: none !important;}

.fa-star {
  color: rgba(50, 199, 255, 1);
}

/*===========================================
MENU CONTROL
========================================*/

.menu-clicked {
	-webkit-transform: translateX(380px);
  -webkit-filter: grayscale(1);
  transform: translateX(380px);
  filter: grayscale(1);
  -moz-transform: translateX(380px);
  -moz-filter: grayscale(1);
}

.menu-not-clicked {
  -webkit-transform: translateX(0);
  -webkit-filter: grayscale(0);
  transform: translateX(0);
  filter: grayscale(0);
  -moz-transform: translateX(0);
  -moz-filter: grayscale(0);
}

/*==========================================
HEADLINE
========================================= */

#home-section {
	vertical-align: middle;
	background-image: url("img/background.jpg");
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#menu {
	position:absolute;
  z-index: 0;
  width: 381px;
  background:rgba(2, 8, 9, 0.84);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  display:none;
  height:100%;
}


#menu-list {
  text-align: center;
  padding:0;
}

#menu-list a {
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 300;
  color:rgb(147, 147, 147);
}

#menu-list li {margin-top:10%;}

#menu-list hr {
  border:1px;
  border-style: solid none none none;
  color:rgba(50, 199, 255, 1);
  width:60%;
}

#headline-wrapper {
  padding: 40px;
}

#headline h1 {
  font-size: 58px;
  color: white;
  margin: 0px;
  letter-spacing: 3px;
}

#headline h2 {
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
}

.social {
  padding: 20px;
  margin:0;
  text-align: center;
  opacity:0;
  right:0;
  left:0;
  -webkit-animation: fadeInUp 3s 1s forwards;
  animation: fadeInUp 3s 1s forwards;
}

.social img {
  width: 80px;
}

.social li{
 display:inline-block;
 transition: background-color 0.5s;
}

#social {
  position:absolute;
  bottom: 20px;
}

#social li:hover {
	background-color: rgb(122, 130, 167);
}

#social2 li:hover {
  background-color: rgb(75, 79, 88);
}

.headline {
  opacity: 0;
  animation: fadeInDown 3s 1s forwards;
  -webkit-animation: fadeInDown 3s 1s forwards;
  -moz-animation: fadeInDown 3s 1s forwards;
  -o-animation: fadeInDown 3s 1s forwards;
}

/*============================================
ABOUT ME
=========================================== */

#CS-div img {
  opacity: 0.7;
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

hr.relative-width {width: 0%;}

/* ======================================
MY LIFE
================================= */

#mylife-div {
 background-color: rgba(124, 82, 224, 0.02);
}

.toggler-option {
	cursor:pointer;
	transition: color 1s;
}

#toggler {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  align-items: center ;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 20%;
  max-width: 650px;
  margin:auto;
}

#toggler div {

  width:200px;
}

#toggler hr {
  transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  width: 0px;
}

#work
{
  position:relative;
}

.life-section {
  position:absolute;
  min-width: 200px;
  right:0;
  left:0;
  top:0;
  margin:auto;
}

/*===================================================
Abilities
====================================================*/


#abs-half-2 {
  background-image: url('img/lava-4.png');
  display:inline-block;
  width:30%%;
  margin-left:-5px;
  vertical-align: top;
}

#abs-half-1 {
  width:70%;
  display: inline-block;
  text-align: center;
  position:relative;
  vertical-align: top
}

#skills-list-wrapper {
  min-height: inherit;
}

#abs-half-1 ul {
 display: inline-block;
}

#abs-half-1 li {
  min-width: 300px;
  height:25px;
  line-height: 25px;
  margin-bottom:5px;
}

#abs-half-1 a {
  float:left;
}

#abs-half-1 i {
  float:right;
  margin-left:4px;
  line-height:25px;
}

#abs-half-1 h1 {
  margin-top:40px;
  margin-bottom:30px;
}


/*==============================================
Travel
===============================================*/


#travel-div {
  background-image: url('img/iceland.jpg');
}

#travel-wrapper {
  position: relative;
  min-height:inherit;
  width:inherit;
}

.left-box {

  width: 50%;
  min-height: inherit;
  position:absolute;
  left:0;
  background-color: rgba(21, 27, 41, 0.7);
  text-align: center;
}

.right-box {
  width: 50%;
  min-height: inherit;
  position:absolute;
  right:0;
  text-align: center;
  background-color: rgba(21, 27, 41, 0.48);
  text-align: center;
}

.slider, .slider ul, .slider ul li {min-height: inherit;}


.travel-header {
  font-weight: 100;
  color: #CCCCCC;
  display:inline-block;
  position: absolute;
  top: 50%;
  margin: auto;
  right: 0;
  left: 0;
  z-index: 5;
}


/*=============================================
waterfall
===============================================*/

#waterfall-div {
  background-image: url('img/waterfall-blue.png');
  width:100%;
  vertical-align: top;
  min-height: inherit;
  position:absolute;
}

#waterfall-wrapper  {
  width:inherit;
  min-height: inherit;
  position:relative;
}

#waterfall-box {
  width:100%;
  min-height: inherit;
  background-color: rgba(21, 27, 41, 0);
  text-align: center;
  z-index: 100;
}

#waterfall-box h2 {
  color: #5E5E5E;
  z-index: 100;
}


/* =================================
Map
=================================== */

#map {

  text-align: center;
  height:100%;
}

a.mapbox-improve-map {display: none;}

#map-header-wrapper {
	height: 20%;
}

#instagram-div {padding: 0 10% 5% 10%;}

#insta h1 {margin: 50px 0 40px 0;}

/* =====================
Contact
======================== */

#contact {
  position: relative;
  text-align: center;
  background-image: url('img/skogafoss.jpg');
}

#contact p {
  padding: 30px;
}

/* =====================
Media Queries
======================== */

@media (max-width: 480px){

  h1 {font-size: 28px;}
  #headline h1 {font-size: 36px;}
	h2 {font-size: 18px;}
  a, p, strong {font-size: 16px;}

}


@media (max-width: 1024px) {

  #abs-half-2 {display: none;}
  #abs-half-1 {width: 100%;}

}
